.App {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}
a.active {
  font-weight: 700;
}
td {
  border: none !important;
}

.chartWrapper {
  border-right: 1px solid #ddd;
}

.date-range-picker {
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 3%;
  display: none !important;
  box-shadow: 0 0 2px 2px #ddd;
}
.date-range-picker.show{
  display: inline-flex  !important;
}